h1{
    display: inline;
    font-family: 'Lobster', cursive;
    font-size: xx-large;
}
#logo{
    display: inline;
    float: left;
    width: 50px;
    margin-right: 10px;
}
#icons {
    list-style: none;
    display: flex;
    float: right;
    margin:0px;
    position: absolute;
    left: 1250px;
}
header p{
    clear: both;
   display: inline; 
   position: relative;
top:20px;
right:110px;
letter-spacing: 0px;
}
header{
    width: 100%;
}
h2{
    font-family: 'Anton', sans-serif;
    font-size: 2pc;
}
#pizza{
    width: 100%;
}
#print{
    float: right;
}